.product-cards {
    margin: 25px 20px;
}

.product-cards-row {
    @include flexbox-row;
    margin: 15px 20px;
}

.product-cards-description {
    margin: 0px 10px;
}

.product-cards-order {
    width: 30%;
}

.cart-icon {
    height: 30px;
    width: 30px;
}

.product-cards-cart {
    background-color: rgb(255, 204, 0);
    border: none;
    width: 50px;
}

.product-cards-cart:hover {
    cursor: pointer;
}

.product-cards-price {
    color: red;
    display: flex;
    flex-direction: row;
}

.product-cards-delivery {
    color: rgb(24, 198, 24);
}

@media (max-width:768px) {
    .product-cards {
        @include total-width;
        @include margin;
        @include border-top;
    }

    .product-cards-row {
        @include flexbox-column;
        @include border-bottom;
        padding: 20px 0;
        @include margin;
    }

    .cards-img {
        width: 250px;
        height: 250px;
    }

    .product-cards-description {
        width: 85%;
    }

    .product-cards-order {
        width: 85%;
    }
}