.product-cards {
    margin: 25px 20px;
}

.product-cards-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px;
}

.product-cards-description {
    margin: 0px 10px;
}

.product-cards-order {
    width: 30%;
}

.cart-icon {
    height: 30px;
    width: 30px;
}

.product-cards-cart {
    background-color: rgb(255, 204, 0);
    border: none;
    width: 50px;
}

.product-cards-cart:hover {
    cursor: pointer;
}

.product-cards-price {
    color: red;
    display: flex;
    flex-direction: row;
}

.product-cards-delivery {
    color: rgb(24, 198, 24);
}

@media (max-width:768px) {
    .product-cards {
        width: 100%;
        margin: 0;
        border-top: solid 1px black;
    }

    .product-cards-row {
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px black;
        margin: 0;
        padding: 20px 0;
    }

    .cards-img {
        width: 65%;
        height: auto;
    }

    .product-cards-description {
        width: 85%;
    }

    .product-cards-order {
        width: 85%;
    }
}