.product-cards {
    margin: 25px 20px;
}

.product-cards-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px;
}

.product-cards-description {
    margin: 0px 10px;
}

.product-cards-order {
    width: 30%;
}

.cart-icon {
    height: 30px;
    width: 30px;
}

.product-cards-cart {
    background-color: rgb(255, 204, 0);
    border: none;
    width: 50px;
}

.product-cards-cart:hover {
    cursor: pointer;
}

.product-cards-price {
    color: red;
}

.product-cards-delivery {
    color: rgb(24, 198, 24);
}

@media (max-width:768px) {
    .product-cards {
        max-width: 100%;
        margin: 0;
        padding: 5px;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    }

    .product-cards-row {
        margin: 5px;
    }

    .cards-img {
        width: 25%;
        height: auto;
    }

    .product-cards-description {
        width: 55%;
        font-size: x-small;
    }

    .product-cards-order {
        width: 20%;
        font-size: xx-small;
    }

    .cart-icon {
        height: 15px;
        width: 15px;
    }

    .product-cards-cart {
        width: 25px;
    }
}